name: UI Tests

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Run every 6 hours to establish a baseline for flaky tests
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  test:
    name: Show uploads fonts
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Upload test report blob
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: dejavu
          path: /usr/share/fonts/truetype/dejavu/

